
-#TODO 1. Create layout of game (where cards, deck, board, score are placed)
-#TODO 2. Fill in layout with instance information (based on active_games[session_id]?)
-#TODO 3. Add in state information (rendering different states of the game, etc)

.row
  .gameboard.span12
    -#I think i need to add in some basic hand data here. (Current User

    .span9
      =render 'active_hands/show', :active_hand => @game.active_hand   #this renders without calling show in active_hands controller

    .span3
      .scores
        %h5#dealer-label{class: get_dealer_class(@game.active_hand.dealer?)} D
        %h5#ai-score= "AI: #{@game.p2_score}"
        %h5#user-label= "#{current_player.email}:"
        %h5#user-score= "#{@game.p1_score}"

      %ul#game-messages

      %form#new-game{action: new_game_path}
        %input.btn{type:'submit', value: 'New Game'}

      %form#new-hand{action: new_hand_path, style: (if @game.active_hand.workflow_state == 'hands_counted' then '' else 'display: none' end)}
        %input.btn{type:'submit' , value: 'Next Hand'}
