-# Already nested within a span9  (with 800 px height)

- pegging = active_hand.pegging?
- hands_counted = active_hand.hands_counted?
- dealer = active_hand.dealer
- dealt = active_hand.dealt?
- user_peg_size = 4

-if active_hand.pegging?
  - player_peg, ai_peg = active_hand.peg_hands
  - user_peg_size = player_peg.size
#ai-hand-area.span12
  .hand#ai-hand{class: hand_class(dealt) }
    != render_ai_hand(pegging, hands_counted, active_hand.ai_hand, ai_peg)


  .hand#ai-crib{class: crib_class(dealt) }
    != render_ai_crib(pegging, hands_counted, active_hand.crib) unless (dealer || !dealt)


.span12#pegging
  = render 'active_hands/pegging', active_hand: active_hand

.span12#decision-form
  = render 'active_hands/decision_forms', active_hand: active_hand, user_peg_size: user_peg_size

#user-hand-area.span12
  .hand#user-hand{class: hand_class(dealt) }
    != render_user_hand(pegging, active_hand.player_hand, player_peg)

  .hand#user-crib{class: crib_class(dealt) }
    != render_user_crib(pegging, hands_counted, active_hand.crib) if (dealer && !dealt)


